.image {
    overflow: hidden;
    cursor: pointer;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.25s ease-in-out;
}

.image img:hover{
    transform: scale(1.2);
}